{% extends "base.twig" %}
{% block content %}

    <div class="row">
        <div class="overview">
            {{ include('overview.twig') }}
        </div>
        <div class="diary">
            {{ include('diary.twig') }}
        </div>
        <div class="newEntry">
            {{ include('newEntryForm.twig') }}
        </div>
    </div>
{% endblock %}