<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>My super awesome run diary</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">


    <main>
        <h1>Run diary</h1>
        {# Block ohne Standard-Inhalt #}
        {% block content %}{% endblock %}
    </main>

</div>
</body>
</html>